flows.json
[
    {
        "id": "bdd14ed9aa832926",
        "type": "tab",
        "label": "Metrics",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9a6010b932de479",
        "type": "subflow",
        "name": "Process map.csv",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 290,
                "y": 260,
                "wires": [
                    {
                        "id": "73f3bf2d91d3c9b4"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#C0C0C0",
        "inputLabels": [
            "Structured data"
        ],
        "icon": "font-awesome/fa-bar-chart"
    },
    {
        "id": "0894458713553377",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bbaa9d4adedfe0a7",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "aad72dc5f2210166",
        "type": "ui-page",
        "name": "AI Metrics",
        "ui": "0894458713553377",
        "path": "/ai-metrics",
        "icon": "home",
        "layout": "grid",
        "theme": "bbaa9d4adedfe0a7",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f8e746e7105de1c1",
        "type": "ui-group",
        "name": "General",
        "page": "aad72dc5f2210166",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6c244ed2db0e1af9",
        "type": "ui-link",
        "name": "Stale link",
        "ui": "0894458713553377",
        "path": "/",
        "icon": "home",
        "order": 2,
        "visible": "false",
        "disabled": false
    },
    {
        "id": "d078eeb9c190595d",
        "type": "ui-group",
        "name": "Scope info",
        "page": "aad72dc5f2210166",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f55aaad24ecba975",
        "type": "ui-table",
        "z": "a9a6010b932de479",
        "group": "f8e746e7105de1c1",
        "name": "Usage data",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Issue Type",
                "key": "friction_category",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Scope",
                "key": "scope",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Estimated Effort",
                "key": "effort_pct",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Tokens In",
                "key": "tokens_in",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Tokens Out",
                "key": "tokens_out",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Total Tokens + Cache Reads",
                "key": "tokens_total",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Estimated Cost (Dollars)",
                "key": "cost_total",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Model",
                "key": "model_id",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Timestamp",
                "key": "timestamp",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "73f3bf2d91d3c9b4",
        "type": "function",
        "z": "a9a6010b932de479",
        "name": "Trim fields",
        "func": "\nlet data = msg.payload;\n\nObject.keys(data).forEach((k) => {\n    let v = data[k];\n    if (v.trim) data[k] = v.trim();\n});\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "1e86fc94b6f93832"
            ]
        ]
    },
    {
        "id": "591b83369756af95",
        "type": "join",
        "z": "a9a6010b932de479",
        "name": "Aggregate",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "f55aaad24ecba975"
            ]
        ]
    },
    {
        "id": "1e86fc94b6f93832",
        "type": "function",
        "z": "a9a6010b932de479",
        "name": "Calculate %s",
        "func": "\nlet data = msg.payload;\n\nlet p = data.effort_pct / 100;\n\nfunction key_pct(k, places) {\n    data[k] = (data[k] * p).toFixed(places);\n}\n\nkey_pct(\"tokens_in\", 0);\nkey_pct(\"tokens_out\", 0);\nkey_pct(\"tokens_total\", 0);\nkey_pct(\"cost_total\", 5);\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "089a747e68f38414",
                "591b83369756af95",
                "2488222afe37a0d1"
            ]
        ]
    },
    {
        "id": "1dcbb80757e4b2fb",
        "type": "ui-gauge",
        "z": "a9a6010b932de479",
        "name": "Eff. Meter",
        "group": "f8e746e7105de1c1",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Context Efficiency (Input / Output token ratio)",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "I/O",
        "icon": "puzzle",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "1",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "8",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "15",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "1",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "089a747e68f38414",
        "type": "join",
        "z": "a9a6010b932de479",
        "name": "I/O ratio",
        "mode": "reduce",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "$A + ($number(payload.tokens_in) / $number(payload.tokens_out))",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "$round($A/$N, 2)",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "1dcbb80757e4b2fb"
            ]
        ]
    },
    {
        "id": "2488222afe37a0d1",
        "type": "join",
        "z": "a9a6010b932de479",
        "name": "Agg. Effort",
        "mode": "reduce",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "(\t\t$scope  := payload.scope;\t\t$match  := $lookup($A, $scope);\t\t$effort := $number(payload.effort_pct);\t\t\t\t$merge([\t\t\t$A,\t\t\t{ $scope: $exists($match) ?\t\t\t\t{ \"t\": $match.t + $effort, \"c\": $match.c + 1 } :\t\t\t\t{ \"t\": $effort, \"c\": 1 }\t\t\t}\t\t])\t)",
        "reduceInit": "{}",
        "reduceInitType": "json",
        "reduceFixup": "$each($A, function($v, $k) {\t    { \"scope\": $k, \"effort\": $v.t / $v.c }\t})",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "e2a9fa8fa8092b9c"
            ]
        ]
    },
    {
        "id": "a485a10b6b176e73",
        "type": "comment",
        "z": "a9a6010b932de479",
        "name": "CSV: Input schema",
        "info": "## Format\n\nPipe (` | `) separated CSV with the following 12 columns:\n\n| # | Column Name       | Description                                      |\n|---|-------------------|--------------------------------------------------|\n| 1 | `session_id`      | UUID v7 identifying the session                  |\n| 2 | `friction_category` | One of `Context Fragmentation`, `State Brittleness`, `Missing Guardrails` |\n| 3 | `scope`           | Business domain or logical module (e.g. `Checkout`, `Checkout(tests)`) |\n| 4 | `effort_pct`      | Relative cognitive effort as an integer percentage |\n| 5 | `diagnosis`       | Free-text diagnosis sentence                     |\n| 6 | `tokens_in`       | Input tokens consumed in the session             |\n| 7 | `tokens_out`      | Output tokens consumed in the session            |\n| 8 | `tokens_total`    | Total tokens (input + output)                    |\n| 9 | `cost_total`      | Total cost in USD                                |\n| 10 | `model_provider`  | Provider name (e.g. `deepseek`, `anthropic`)     |\n| 11 | `model_id`        | Model identifier (e.g. `deepseek-v4-flash`)      |\n| 12 | `timestamp`       | ISO 8601 datetime with millisecond precision and `Z` suffix |\n\n## Example row\n\n```\n019e9abb-58e8-76fe-adea-b47a634e8881 | Context Fragmentation | Checkout | 85 | Building a complete picture of the checkout handler required reading 10 files across 5 directories | 30226 | 2476 | 152638 | 0.0052607408 | deepseek | deepseek-v4-flash | 2026-06-06T02:20:29.800Z\n```\n\n## Notes\n\n- Column names are **lowercase snake_case** throughout.\n- The `scope` column uses a capitalized business domain name, optionally with a parenthetical sub-scope (e.g. `Checkout(tests)`, `Checkout(db)`). No file paths or globs.\n- The `effort_pct` values across rows from the same feedback loop must sum to exactly 100.\n- The first line of the file is a header row matching the column names above.\n",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2a9fa8fa8092b9c",
        "type": "ui-chart",
        "z": "a9a6010b932de479",
        "group": "d078eeb9c190595d",
        "name": "Effort / Scope plot",
        "label": "chart",
        "order": 1,
        "chartType": "bar",
        "category": "Module",
        "categoryType": "str",
        "xAxisLabel": "Scope",
        "xAxisProperty": "scope",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Effort (% Tokens / Session)",
        "yAxisProperty": "effort",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c818c0b3ae4fb231",
        "type": "watch",
        "z": "bdd14ed9aa832926",
        "name": "watch mapfile",
        "files": "/home/rodrigo/Documents/pvapi/.pi/MAP.csv",
        "recursive": false,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "1b0db7fe25854f49"
            ]
        ]
    },
    {
        "id": "1b0db7fe25854f49",
        "type": "file in",
        "z": "bdd14ed9aa832926",
        "name": "Read mapfile",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 920,
        "y": 560,
        "wires": [
            [
                "b17c1650379ce924"
            ]
        ]
    },
    {
        "id": "b17c1650379ce924",
        "type": "csv",
        "z": "bdd14ed9aa832926",
        "name": "",
        "spec": "rfc",
        "sep": "|",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 950,
        "y": 600,
        "wires": [
            [
                "c86f043b3231da1b"
            ]
        ]
    },
    {
        "id": "f19ed8b58a2ad559",
        "type": "inject",
        "z": "bdd14ed9aa832926",
        "name": "Inject manual",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/home/rodrigo/Documents/pvapi/.pi/MAP.csv",
        "payloadType": "str",
        "x": 700,
        "y": 560,
        "wires": [
            [
                "1b0db7fe25854f49"
            ]
        ]
    },
    {
        "id": "a34625e4eabf05ca",
        "type": "comment",
        "z": "bdd14ed9aa832926",
        "name": "Working directory",
        "info": "## Format\n\nThe directory is still hard-coded for now\n",
        "x": 690,
        "y": 480,
        "wires": []
    },
    {
        "id": "8308ed459ce3a2f2",
        "type": "subflow:a9a6010b932de479",
        "z": "bdd14ed9aa832926",
        "name": "Process data",
        "x": 1100,
        "y": 640,
        "wires": []
    },
    {
        "id": "c86f043b3231da1b",
        "type": "split",
        "z": "bdd14ed9aa832926",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "8308ed459ce3a2f2"
            ]
        ]
    },
    {
        "id": "22d978574d3afa8c",
        "type": "ui-button",
        "z": "bdd14ed9aa832926",
        "group": "d078eeb9c190595d",
        "name": "Refresh",
        "label": "Refresh data",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "gesture-tap",
        "iconPosition": "left",
        "payload": "/home/rodrigo/Documents/pvapi/.pi/MAP.csv",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 720,
        "y": 520,
        "wires": [
            [
                "1b0db7fe25854f49"
            ]
        ]
    }
]